@charset "UTF-8";
.test{
    width: 605px;
    height: 10px;
}

.mv{
    width: 100%;
    height: 7450px;
    display: flex;
    background: url("LP.jpg");
    background-size: cover;
}

.main-button{
    position: absolute;
    left: 315px;
    top: 897px;
    height: 76px;
    width: 638px;
/*    background-color: rgb(6, 199, 85);*/
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button2{
    position: absolute;
    left: 315px;
    top: 2433px;
    height: 75px;
    width: 637px;
/*    background-color: rgb(6, 199, 85);*/
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button3{
    position: absolute;
    left: 314px;
    top: 4468px;
    height: 75px;
    width: 637px;
/*    background-color: rgb(6, 199, 85);*/
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button4{
    position: absolute;
    left: 313px;
    top: 7152px;
    height: 75px;
    width: 638px;
/*    background-color: rgb(6, 199, 85);*/
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 896px) {
    .mv{
        width: 100%;
        height: 2800px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
    }
    
    .main-button{
        position: absolute;
        left: 122px;
        top: 348px;
        height: 28px;
        width: 239px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .button2{
        position: absolute;
        left: 122px;
        top: 922px;
        height: 28px;
        width: 239px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .button3{
        position: absolute;
        left: 122px;
        top: 1686px;
        height: 28px;
        width: 239px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .button4{
        position: absolute;
        left: 122px;
        top: 2692px;
        height: 28px;
        width: 239px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }   
}