@media only screen and (min-width: 1201px) {
    .mv{
        width: 1200px;
        height: 7450px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .main-button{
        position: absolute;
        left: 337px;
        top: 882px;
        height: 76px;
        width: 634px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }

    .button2{
        position: absolute;
        left: 337px;
        top: 2410px;
        height: 76px;
        width: 634px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }

    .button3{
        position: absolute;
        left: 337px;
        top: 4435px;
        height: 76px;
        width: 634px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }

    .button4{
        position: absolute;
        left: 337px;
        top: 7105px;
        height: 76px;
        width: 634px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1001px) {
    .mv{
        width: 800px;
        height: 4800px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-button{
        position: absolute;
        left: 288px;
        top: 570px;
        height: 50px;
        width: 405px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
    
    .button2{
        position: absolute;
        left: 288px;
        top: 1556px;
        height: 50px;
        width: 405px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
    
    .button3{
        position: absolute;
        left: 288px;
        top: 2860px;
        height: 50px;
        width: 405px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
    
    .button4{
        position: absolute;
        left: 288px;
        top: 4580px;
        height: 50px;
        width: 405px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
}

@media only screen and (max-width: 1000px) {
    .mv{
        width: 960px;
        height: 5700px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
        border: 1px solid orange;
    }
        
    .main-button{
        position: absolute;
        left: 243px;
        top: 685px;
        height: 56px;
        width: 490px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
        
    .button2{
        position: absolute;
        left: 243px;
        top: 1863px;
        height: 56px;
        width: 490px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
        
    .button3{
        position: absolute;
        left: 243px;
        top: 5488px;
        height: 56px;
        width: 490px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
        
    .button4{
        position: absolute;
        left: 122px;
        top: 2692px;
        height: 28px;
        width: 239px;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
}