@media only screen and (min-width: 1201px) {
    .mv{
        width: 1200px;
        height: 7450px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .main-button{
        position: absolute;
        left: 315px;
        top: 897px;
        height: 76px;
        width: 638px;
/*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .button2{
        position: absolute;
        left: 315px;
        top: 2433px;
        height: 75px;
        width: 637px;
/*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .button3{
        position: absolute;
        left: 314px;
        top: 4468px;
        height: 75px;
        width: 637px;
/*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .button4{
        position: absolute;
        left: 313px;
        top: 7152px;
        height: 75px;
        width: 638px;
/*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 521px) {
    .mv{
        width: 800px;
        height: 4800px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-button{
        position: absolute;
        left: 288px;
        top: 570px;
        height: 50px;
        width: 405px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
    
    .button2{
        position: absolute;
        left: 288px;
        top: 1556px;
        height: 50px;
        width: 405px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
    
    .button3{
        position: absolute;
        left: 288px;
        top: 2860px;
        height: 50px;
        width: 405px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
    
    .button4{
        position: absolute;
        left: 288px;
        top: 4580px;
        height: 50px;
        width: 405px;
    /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
}

@media only screen and (max-width: 520px) {
    .mv{
        width: 520px;
        height: 400px;
        display: flex;
        background: url("LP.jpg");
        background-size: cover;
        border: 1px solid orange;
    }
        
    .main-button{
        position: absolute;
        left: 25%;
        top: 100px;
        height: 4%;
        width: 50%;
        /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
        
    .button2{
        position: absolute;
        left: 122px;
        top: 922px;
        height: 28px;
        width: 239px;
        /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
        
    .button3{
        position: absolute;
        left: 122px;
        top: 1686px;
        height: 28px;
        width: 239px;
        /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
        
    .button4{
        position: absolute;
        left: 122px;
        top: 2692px;
        height: 28px;
        width: 239px;
        /*    background-color: rgb(6, 199, 85);*/
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #000;
    }
}